.git
.build
.claude
.task
.vscode
.env
.env.*
postgres_data

frontend/.claude
frontend/.env*
frontend/coverage
frontend/dist
frontend/node_modules
frontend/playwright-report
frontend/test-results

**/.DS_Store
